@mixin card(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    width: 15rem;
    border-radius: 1rem;
    padding: .8rem .8rem 0 .8rem;
    box-shadow: 0px 3px 49px 3px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 3px 49px 3px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 3px 49px 3px rgba(0,0,0,0.09);

    @include media-min-max-query(360px, 400px){
        width: 20rem;
        padding: 1rem 1rem 0 1rem;
    }

    @include media-min-max-query(400px, 500px){
        padding: 1rem 1rem 0 1rem;
        width: 22rem;
    }

    @include media-min-max-query(500px, 700px){
        padding: .9rem .9rem 0 .9rem;
        width: 20rem;
    }

    @include media-min-max-query(700px, 900px){
        padding: .9rem .9rem 0 .9rem;
        width: 21rem;
    }

    @include media-min(900px){
        padding: .9rem .9rem 0 .9rem;
        width: 22rem;
    }

}